
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <div class="jumbotron"> 
       <h1>Bu calisani daha once yonetici olarak atadiginiz icin silemezsiniz</h1>
        @Html.ActionLink("Return to employee management", "Index", "Employees")
    </div>
</body>
</html>
