
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <div class="jumbotron"> 
        <h1>Bu departmani silemezsiniz</h1>
        @Html.ActionLink(" Return to Department Management", "Index", "Departments")<br />
    </div>
</body>
</html>
